[Unit]
Description=Relic package signing service

[Service]
User=relic
Group=relic
Type=notify
NotifyAccess=all
WorkingDirectory=/
RuntimeDirectory=relic
ExecStart=/usr/libexec/relic-einhorn start
ExecStop=/usr/libexec/relic-einhorn stop
ExecReload=/usr/libexec/relic-einhorn reload
SyslogIdentifier=relic
Restart=on-failure

[Install]
WantedBy=multi-user.target
