[Unit]
Description=Relic package signing auditor
Wants=postgresql.service
After=postgresql.service

[Service]
User=relic-audit
Group=relic-audit
Type=notify
WorkingDirectory=/
ExecStart=/usr/bin/relic audit -c /etc/relic/audit.yml
Restart=on-failure

[Install]
WantedBy=multi-user.target
