[Unit]
Description=Relic package signing auditor

[Service]
User=relic-audit
Group=relic-audit
Type=notify
WorkingDirectory=/
ExecStart=/usr/bin/relic-audit -d /etc/relic/audit.d

[Install]
WantedBy=multi-user.target
