build
keys
trust
work
vendor
_*

*.application
*.appx
*.appxbundle
*.asc
*.cab
*.cat
*.deb
*.dll
*.dmg
*.EC
*.img
*.ipa
*.jar
*.manifest
*.MF
*.mof
*.msi
*.p7m
*.p7s
*.pgp
*.pkg
*.ps1
*.ps1xml
*.vsix
*.rpm
*.RSA
*.SF
*.sig
*.SIG
*.xap
*.zip

*.log
