<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'>
  <Product Name='relic' Manufacturer='SAS Institute Inc.'
      Id='F9CCE258-C5D1-40A9-ABCC-211434BCE990'
      UpgradeCode='AF223DCA-F878-46B5-8CED-AF0151F5DC4B'
      Language='1033' Codepage='1252' Version='1.0.0'>
      <Package Id='*' Keywords='Installer' Description="Install relic"
        Manufacturer='SAS Institute Inc.'
        InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252' />
    <Media Id='1' Cabinet='relic.cab' EmbedCab='yes' />


    <Property Id="POWERSHELLEXE">
      <RegistrySearch Id="POWERSHELLEXE" Type="raw" Root="HKLM" Key="SOFTWARE\Microsoft\PowerShell\1\ShellIds\Microsoft.PowerShell" Name="Path" />
    </Property>
    <Condition Message="This application requires Windows PowerShell.">
      <![CDATA[Installed OR POWERSHELLEXE]]>
    </Condition>

    <SetProperty Id="RunPowerShellScript" Before="InstallFiles" Sequence="execute"
             Value ="&quot;[POWERSHELLEXE]&quot; -NoProfile -NonInteractive -InputFormat None -ExecutionPolicy Bypass -Command &quot;&amp; '[#pwscript]' ; exit $$($Error.Count)&quot;" />
    <CustomAction Id="RunPowerShellScript" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="check" Impersonate="no" />
    <InstallExecuteSequence>
      <Custom Action="RunPowerShellScript" After="RegisterUser"><![CDATA[NOT Installed]]></Custom>
    </InstallExecuteSequence>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFiles64Folder' Name='PFiles'>
        <Directory Id='INSTALLDIR' Name='relic'>
          <Component Id='MainExecutable' Guid='595F3DFA-4B10-48F5-97E0-D710046A6455' Win64='yes'>
            <File Id='relicEXE' Name='relic.exe' DiskId='1' Source='relic.exe' Vital='yes' KeyPath='yes' />
            <CreateFolder Directory='serverdir'/>
            <CreateFolder Directory='certsdir'/>
            <ServiceInstall Id='relicService' Type='ownProcess' Vital='yes'
              Name='relic'
              DisplayName='relic'
              Arguments='serve -c &quot;[INSTALLDIR]relic.yml&quot;'
              Description='Secure package signing service'
              Start='auto'
              Account='LocalSystem'
              ErrorControl='ignore'
              Interactive='no'
              />
            <ServiceControl Id='startservice' Stop='both' Remove='uninstall' Name='relic' Wait='yes'/>
            <util:User Id='relicUser' Vital='yes'
              Name='relic'
              CreateUser='yes'
              CanNotChangePassword='yes'
              PasswordNeverExpires='yes'
              LogonAsService='yes'
              LogonAsBatchJob='yes'
              RemoveOnUninstall='no'
              />
          </Component>
          <Component Id='pwscript' Guid='8CDF4763-CC95-437D-B960-345DDFFDE514'>
            <File Id='pwscript' Name='set_service_password.ps1' DiskId='1' Source='set_service_password.ps1' Vital='yes' KeyPath='yes' />
          </Component>
          <Directory Id='serverdir' Name='server'/>
          <Directory Id='certsdir' Name='certs'/>
        </Directory>
      </Directory>
      <Component Id='eventsource' Guid='B82EA0AD-88A4-48C6-BF00-A298FFF409C4'>
        <util:EventSource
          Log='Application'
          Name='relic'
          EventMessageFile='%SystemRoot%\System32\EventCreate.exe'
          SupportsErrors='yes'
          SupportsInformationals='yes'
          SupportsWarnings='yes'
          KeyPath='yes' />
      </Component>
    </Directory>
    <Feature Id='Complete' Level='1'>
      <ComponentRef Id='MainExecutable' />
      <ComponentRef Id='eventsource' />
      <ComponentRef Id='pwscript' />
    </Feature>
  </Product>
</Wix>
<!-- vim: set filetype=xml ts=2 sts=2 sw=2 expandtab : -->
